$baseFont: 17px;
$baseWeight: 100;

// Biotif Regular
@font-face {
  font-family: 'Biotif';
  font-style: normal;
  font-weight: normal;
  src:  url(../fonts/Biotif-Regular.woff2) format('woff2'),
        url(../fonts/Biotif-Regular.woff) format('woff');
}

// Biotif Semibold
@font-face {
  font-family: 'Biotif';
  font-style: normal;
  font-weight: 600;
  src:  url(../fonts/Biotif-SemiBold.woff2) format('woff2'),
        url(../fonts/Biotif-SemiBold.woff) format('woff');
}
