header {
  text-align: center;

  .radar-title, .buttons-group, #alternative-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    align-content: space-between;
  }

  .radar-title {
    display: grid;
    grid-template-columns: 1fr;
    padding: 52px 10%;
    margin: auto;
    max-width: 100%;

    .radar-title__text {
      text-align: left;

      h1 {
        font-size: 55px;
        font-weight: 900;
        letter-spacing: -.04em;
        line-height: 0.8em;
        margin: 0;
        text-transform: uppercase;
      }
    }

    &__description {
      max-width: 70%;
      margin: 24px 0 0;
      font-size: 18px;
      text-align: left;
      color: #848585;
    }

    .radar-title__logo {
      width: 150px;
      margin-bottom: 52px;

      img {
        width: 150px;
      }
    }
  }


  .quadrant-btn--group, .multiple-sheet-button-group {
    text-align: left;
    padding-left: 10%;
  }

  .search-box {
    margin-left: auto;
    margin-right: 10%;
  }

  .buttons-group {
    padding: 0 0 52px;

    .search-radar {
      border: 1px solid #aaa;
      background-color: inherit;
      background-image: url("/images/search-logo-2x.svg");
      background-repeat: no-repeat;
      background-position: 10px;
      font-family: 'Biotif';
    }

    input {
      padding: 23px 0 20px 35px;
      margin-bottom: 0;
      width: 275px;
    }
  }

  .home-link {
    color: $pink;
    margin-bottom: 10px;
    line-height: normal;
    cursor: pointer;
    display: inline-block;
    font-size: $baseFont;
    text-align: left;
    width: 80%;
  }

  .button {
    font-size: $baseFont;
    font-weight: 600;
    text-transform: capitalize;
    margin-right: 20px;
    border-radius: 0;
    padding: 10px 20px;
    cursor: pointer;
    transition: all .2s ease-out;

    background-color: $black;
    color: $white;

    &.no-capitalize {
      text-transform: none;
    }

    &:hover, &.selected {
      background-color: lightern($black, 5%);
      transform: translate(0,0);
    }
  }

  #alternative-buttons {
    margin-bottom: 50px;

    .highlight {
      border-bottom: none;
      font-weight: bold;
    }

    p {
      font-size: 16px;
      font-weight: 700;
      margin-top: 0;
      margin-bottom: 10px;
    }

    .multiple-sheet-button {
      margin-right: 10px;
    }

    .search-radar {
      border: 1px solid #aaa;
      background-color: inherit;
      background-image: url("/images/search-logo-2x.svg");
      background-repeat: no-repeat;
      background-position: 10px;
    }

    input {
      padding-left: 35px;
      width: 275px;
    }
  }
}

.ui-autocomplete {
  width: 275px !important;

  .ui-autocomplete-quadrant {
    font-size: 14px;
    font-weight: 600;
    padding: 5px;
  }

  .ui-menu-item {
    white-space: normal;
    font-size: 14px;
    font-weight: 400;

    .ui-menu-item-wrapper {
      padding: 0 10px;
    }
  }
}
