.loading {
  background-color: $black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__icon {
    width: 290px;
    height: 77px;
    margin: 0 auto 52px;
  }

  &__title h1 {
    color: $white;
    font-size: 45px;
    text-align: center;
  }
}
