.loading {
  background-color: $black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__logo {
    width: 305px;
    height: 81px;
    margin: 0 auto 60px;
  }

  &__title h1 {
    color: $white;
    font-size: 52px;
    text-align: center;
  }
}
